<!--  Modal content for Categories -->
<div id="Categories" class="modal fade " tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Categories
                    <img class="loading m-t-5" style="margin-left: 35%" height="50px" src="assets/images/loading.gif" alt="">
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="categoryList">
                    <thead>
                        <tr> 
                            <th>Name</th>                                      
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="category_list"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>