<!--  Modal content for Order -->
<div id="orderModal" class="modal fade " tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <br>
                <button class="btn btn-sm btn-default" onclick="window.print()">Print</button>
            </div>
            <div class="modal-body" id="viewTransaction">
            </div>
            <div class="alert alert-danger" style="font-size:11px;">Right-Click and Reload if you get stuck after cancelling a print.</div>
        </div>
    </div>
</div>