<div id="Users" class="modal fade" tabindex="-1" aria-labelledby="UsersLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UsersLabel">Users
                    <img class="loading m-t-5" style="margin-left: 35%" height="50px" src="assets/images/loading.gif" alt="">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="all_userss" style="padding: 20px; padding-right: 40px;">
                <table class="table table-bordered" id="userList">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="user_list"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>