<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>StorePOS - Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script> window.$ = window.jQuery = require('jquery'); </script>

    <!-- Core Styles -->
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="../../assets/css/core.css" rel="stylesheet" />
    <link href="../../assets/css/components.css" rel="stylesheet" />
    <link href="../../assets/css/icons.css" rel="stylesheet" />
    <link href="../../assets/css/responsive.css" rel="stylesheet" />
    <link href="../../assets/css/pages.css" rel="stylesheet" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  </head>

  <body>
    <div class="main_app">
      <!-- Global Loader -->
      <div id="loading" class="modal" tabindex="-1" aria-hidden="true"></div>
      <div id="global-loader" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;">
        <img src="../../../images/loading.gif" alt="Loading..." height="60" />
      </div>

      <!-- Content for Statistics View -->
      <div id="statistics_view">
        <div class="row">
          <div class="col-md-12">
            <div class="card-box">
              <nav aria-label="...">
                <ul class="pagination pagination-lg justify-content-center">
                  <li class="page-item">
                    <a class="page-link bi bi-graph-up" href="#"> Line</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link bi bi-bar-chart-steps" href="#"> Bar</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link bi bi-pie-chart" href="#"> Pie</a>
                  </li>
                </ul>
              </nav>
              <hr />
              <canvas id="myChart" style="height: 135px;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Final Boot -->
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            require('../../../../renderer.js');
        });
    </script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../node_modules/feather-icons/dist/feather.min.js"></script>
    <script src="../../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="../../../node_modules/chart.js/dist/chart.umd.js"></script>
  </body>
</html>
