<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>StorePOS - Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script> window.$ = window.jQuery = require('jquery'); </script>

    <!-- Core Styles -->
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="../../assets/css/core.css" rel="stylesheet" />
    <link href="../../assets/css/components.css" rel="stylesheet" />
    <link href="../../assets/css/icons.css" rel="stylesheet" />
    <link href="../../assets/css/responsive.css" rel="stylesheet" />
    <link href="../../assets/css/pages.css" rel="stylesheet" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  </head>

  <body>
    <div class="main_app">
      <!-- Global Loader -->
      <div id="loading" class="modal" tabindex="-1" aria-hidden="true"></div>
      <div id="global-loader" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;">
        <img src="/images/loading.gif" alt="Loading..." height="60" />
      </div>

      <!-- Content for Stock View -->
      <div id="stock_view">
        <div class="row">
          <div class="col-md-12">
            <div class="card-box">
              <div class="row">
                <!-- Category Section -->
                <div class="col-md-4">
                  <div class="col-md-12">
                    <div class="row">
                      <h4 class="col-8">Categories</h4>
                      <div class="col">
                        <button id="newCategoryModal" data-bs-toggle="modal" data-bs-target="#newCategory" type="button" class="btn btn-warning waves-effect waves-light">
                          <i class="fa fa-plus"></i> New Category
                        </button>
                      </div>
                    </div>
                    <hr />
                    <table class="table tablesaw-enhanced" id="categoryList">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Item Count</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="category_list"></tbody>
                    </table>
                  </div>
                </div>

                <!-- Product Section -->
                <div class="col-md-8">
                  <div class="col-md-12" id="all_products">
                    <div class="row">
                      <h3 class="col-10">Stocks</h3>
                      <div class="col">
                        <button id="newProductModal" data-bs-toggle="modal" data-bs-target="#newProduct" type="button" class="btn btn-warning">
                          <i class="fa fa-plus"></i> New Product
                        </button>
                      </div>
                    </div>
                    <br />
                    <table class="table tablesaw-enhanced" id="productList">
                      <thead>
                        <tr>
                          <th>Barcode</th>
                          <th>Item</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Stock</th>
                          <th>Category</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="product_list"></tbody>
                    </table>
                  </div>
                </div>
              </div>                    
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Final Boot -->
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            require('../../../../src/assets/js/stocks.js')
        });
    </script>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../node_modules/feather-icons/dist/feather.min.js"></script>
    <script src="../../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="../../../node_modules/chart.js/dist/chart.umd.js"></script>
  </body>
</html>
