<!-- Content for Statistics View -->
<div id="statistics_view">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <nav aria-label="...">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item"><a class="page-link bi bi-graph-up" href="#"> Line</a></li>
                        <li class="page-item"><a class="page-link bi bi-bar-chart-steps" href="#" >Bar</a></li>
                        <li class="page-item"><a class="page-link bi bi-pie-chart" href="#"> Pie</a></li>
                    </ul>
                </nav>
                <hr>
                <canvas id="myChart" style="height: 135px;"></canvas>
                
            </div>
        </div>
    </div>
</div>